@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800;900&display=swap');
@import '../node_modules/primevue/resources/primevue.min.css';
@import '../node_modules/primevue/resources/themes/lara-light-purple/theme.css';
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/v-calendar/dist/style.css';
:root {
    --clr-primary1: purple;
    --clr-primary2: gold;
}

@layer base {
    html {
        font-family: Outfit, system-ui, sans-serif;
    }
}

@layer components {
    .sideselected {
        @apply bg-white rounded-full text-purple-500 font-normal;
    }
    .selected {
        @apply bg-white text-purple-500;
    }
    .toggleSelected {
        @apply bg-white text-purple-500;
    }
}

@layer utilities {
    .chamber::-webkit-scrollbar {
        display: none;
    }
    .inputless {
        background: none;
        color: #fff;
    }
    .writing-mode {
        writing-mode: vertical-lr;
    }
    .orientation-upright {
        text-orientation: upright;
    }
}

.bounce-enter-active {
    animation: bounce-in 0.5s;
}

.bounce-leave-active {
    animation: bounce-in 0.5s reverse;
}

@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes p-progress-spinner-color {
    100%,
    0% {
        stroke: #00add8;
    }
    40% {
        stroke: #006eff;
    }
    66% {
        stroke: #6200ff;
    }
    80%,
    90% {
        stroke: #9900ff;
    }
}


/* ROUTER TRANSITIONS */

.fade-enter-from,
.fade-leave-to,
.shade-enter-from,
.shade-leave-to {
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active,
.shade-enter-active,
.shade-leave-active {
    transition: opacity 200ms ease-out;
}

html {
    font-family: Lato, 'Courier New', Courier, monospace;
}

.rootComp {
    display: flex;
    flex: 1;
}

.database {
    flex: 1;
}


/* GLOBAL */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    min-width: 100vw;
    min-height: 100vh;
    color: rgb(0, 0, 0);
    font-family: cartograph cf, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app {
    display: flex;
    flex-direction: column;
    background-color: rgba(227, 137, 255, 0.589);
    /* background: url(../images/26669.jpg); */
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    /* grid-template-areas: 'nav nav' 'sidebar content';
  grid-template-columns: 300px 6fr;
  grid-template-rows: min-content auto;
  grid-auto-columns: max-content;
  grid-auto-rows: max-content; */
    padding: 40px;
    padding-top: 20px;
    width: inherit;
    min-height: inherit;
    column-gap: 40px;
    row-gap: 30px;
}

.nav:hover,
.content:hover {
    box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.11);
    transform: scale(1.001);
}

.iconpack {
    aspect-ratio: 1;
    cursor: pointer;
}

.search-icon {
    width: 0.8em;
}

.company-logo {
    width: 2.5em;
}

.navlist-icon {
    width: 1.3em;
}

.nav {
    /* display: flex;
    padding: 15px;
    min-width: 100%;
    min-height: 20px;
    background: rgb(255, 255, 255);
    align-items: center;
    border-radius: 50px;
    justify-content: space-between; */
    transition: all 0.2s linear;
}

.button.logout {
    /* background: linear-gradient(to right, purple, gold); */
    font-weight: 600;
    color: rgb(0, 0, 0);
    border: none;
}

.navhead {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navlinks {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}


/* .navlink:hover {
    background: linear-gradient(to right, purple, gold);
    color: white;
} */

.navlink {
    /* display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    color: black;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    padding: 5px 20px;
    transition: all 0.2s linear; */
}

.savedNotif {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    color: black;
    border-radius: 30px;
    width: 20%;
    border: none;
    height: 20%;
    text-align: center;
    box-shadow: 10px 10px gold, 20px 20px purple, 25px 25px 15px rgba(0, 0, 0, 0.911);
    font-family: iosevka;
    font-size: 1.3em;
}

.header {
    font-family: iosevka;
}

.aplType {
    margin: 0 auto;
    font-family: iosevka;
    font-size: 1.3em;
    text-align: center;
}

.aplType.sec {
    margin: 30px 0;
    margin-top: 70px;
}


/* .sel {
    width: 90%;
    font-family: Orev Edge;
    margin: 10px;
    height: 30px;
    border: none;
    font-family: iosevka;
    padding: 5px 10px;
    font-size: 1em;
    background: rgb(253, 253, 253);
    color: rgb(0, 0, 0);
    border-radius: 50px;
} */

.applyContainer label {
    margin-bottom: 10px;
}

.apply-main {
    display: flex;
    flex: 1;
}

.apply {
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-width: 100%;
}

.apply-form {
    flex-direction: column;
    display: flex;
    padding: 20px;
    width: 100%;
}

.applyContainer {
    background: rgb(185, 185, 185);
    padding: 20px;
    margin: 10px;
    border: none;
    border-radius: 30px;
    display: flex;
    font-family: iosevka medium;
    text-align: center;
}

.applyContainer div {
    font-family: iosevka;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aCms {
    margin-bottom: 30px;
}

.aCname {
    justify-content: center;
    grid-column: span 3;
}

.aCdob {
    flex-direction: column;
    grid-column: span 1;
    align-items: center;
}

.aCdob section input {
    width: 30%;
    text-align: center;
    margin: 5px 0px;
}

.aCdob section {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}

.aCem {
    justify-content: center;
    grid-column: span 2;
}

.aC {
    flex-direction: column;
    align-items: center;
}

.aChl div {
    grid-column: span 3;
}

.checkbox {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    padding-left: 20px;
}

.checkbox:hover {
    color: white;
}

.aChl div {
    align-self: flex-start;
}

.aChl {
    grid-column: span 2;
}

.apply-checkbox {
    border: none;
}


/* .apply-input {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 30px;
    border: none;
    width: 80%;
    border-radius: 50px;
    padding: 5px 15px;
    font-size: 1.05rem;
    font-family: iosevka;
    text-align: center;
} */

.aCchild {
    grid-column: span 3;
    width: 60%;
    margin: 10px auto;
    /* margin-bottom: 50px; */
}

.mainInfo {
    margin-bottom: 50px;
}

.mainInfo,
.moreInfo {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    position: relative;
}

.mainInfo::after,
.moreInfo::after {
    font-family: Outfit;
    font-size: 0.7em;
    font-weight: 900;
    color: black;
    text-align: center;
    padding: 0 10px;
    border: none;
    border-radius: 40px;
    background: white;
    position: absolute;
    padding: 0 10px;
    left: 40px;
    top: -3px;
    box-shadow: 0 5px 20px -3px black;
}

.mainInfo::after {
    content: 'Main Information';
}

.moreInfo::after {
    content: 'More Information';
}

.grad-btn {
    width: 20%;
    height: 40px;
    border: none;
    border-radius: 30px;
    color: white;
    background: linear-gradient(120deg, purple, gold);
    font-size: 1.5em;
    font-weight: 900;
    font-family: orev edge;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.aplsub:hover {
    outline: 2px solid gold;
    outline-offset: 5px;
}

.btndiv {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.toolbuttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.btn {
    background: rgb(150, 0, 187);
    color: rgb(255, 255, 255);
    width: 50px;
    aspect-ratio: 1;
    border: none;
    border-radius: 10px;
    flex-grow: 1;
    cursor: pointer;
}

.aplcard {
    display: flex;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    color: black;
    padding: 20px;
    background: rgb(255, 255, 255);
    align-items: center;
    height: 150px;
    border: none;
    border-radius: 30px;
    font-family: dank mono;
    cursor: pointer;
}

.apl-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.apl-image {
    width: 165px;
    aspect-ratio: 1;
    border: 3px solid rgb(211, 211, 211);
    border-radius: 20px;
}

.apl-fullName {
    font-size: 1.5em;
}

.ward hr {
    width: 50%;
    margin: 0 auto;
    background-color: rgb(73, 73, 73);
}

.widget {
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 2fr 2fr;
    grid-auto-rows: 230px;
    padding: 30px;
}

.widge {
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    background-color: grey;
    padding: 15px;
    gap: 5px;
    overflow-y: scroll;
}

.announcements {
    padding-top: 0px;
    grid-column: span 2;
}

.requests {
    padding-top: 0px;
    grid-column: span 2;
}

.annlist {
    display: flex;
    align-content: center;
    color: white;
    flex: 1;
    max-height: 40px;
    justify-content: space-between;
    background-color: rgba(89, 89, 89, 0.186);
    border-radius: 5px;
    padding: 5px 15px;
}

.widge h2 {
    text-align: center;
    color: white;
    font-size: 1.4em;
}

.dashboard {
    /* display: grid;
    gap: 20px;
    grid-template-columns: 2fr 2fr 2fr;
    grid-auto-rows: 200px;
    padding: 30px; */
    flex: 1;
    padding: auto 0;
    background-color: rgb(255, 255, 255);
    grid-area: content;
    border: none;
    border-radius: 40px;
    transition: all 0.2s linear;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.view {
    padding: 30px;
    background-color: rgb(255, 255, 255);
    flex: 1;
    border: none;
    border-radius: 40px;
    min-height: 100%;
    display: flex;
    gap: 30px;
    transition: all 0.2s linear;
}

.aplDetails {
    display: flex;
    flex-direction: column;
}

.aplDetails h1 {
    text-align: center;
}


/* .view:hover {
  box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.103);
  transform: scale(1.001);
} */


/* ANNOUNCEMENT */

.announcements {
    height: 100%;
}

.ann-body {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-auto-rows: 85px;
    gap: 20px;
}

#ann-head {
    border-radius: 30px;
    padding: 10px 15px;
    background-color: white;
}

.search-button {
    font-family: Outfit;
    font-weight: bold;
    text-align: center;
    font-size: 5em;
    background: linear-gradient(90deg, purple, gold);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #000;
}

.foundaplsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-flow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.util {
    flex: 1;
    min-height: 100%;
    border-radius: 30px;
    background: rgb(219, 219, 219);
    padding: 20px;
}

.header {
    text-align: center;
    font-family: iosevka slab thin;
    font-size: 3em;
    font-weight: 700;
}

.search-field {
    font-family: iosevka;
    display: flex;
    margin-top: 80px;
    align-items: center;
    flex-direction: column;
}

.sInfo {
    text-align: center;
    padding-top: 20px;
    font-family: iosevka;
    font-weight: 300;
}

#sDivide {
    width: 50%;
    height: 2px;
    margin: 20px auto;
    background: rgb(202, 202, 202);
    border: none;
    border-radius: 50px;
}

.select,
.search-btn {
    width: 30%;
    font-family: Orev Edge;
    margin: 10px;
    height: 44px;
    border: none;
    font-family: iosevka;
    padding: 5px 10px;
    font-size: 1.1em;
    background: linear-gradient(to right, gold, purple);
    color: white;
    border-radius: 50px;
}

.search-btn {
    transition: all 0.2s ease-in;
    cursor: pointer;
    align-self: center;
}

.search-btn:hover {
    transform: scale(1.05);
}

.select:focus,
.searchInput:focus {
    outline: 2px solid white;
}

.searchInput {
    box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.11);
    font-family: iosevka;
    font-size: 1.3em;
    height: 60px;
    width: 80%;
    margin: 0 auto;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    padding: 5px;
    background: rgb(255, 255, 255);
    border: none;
    text-align: center;
}